@model List<RepositorioGitHub.Dominio.GitHubRepositoryViewModel>

<div class="row h-100">
    <div class="col-md-12 justify-content-center d-flex align-items-center">
        <div class="card">
            <h5 class="card-header text-uppercase"> Weslei Moreira Santana </h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless table-hover">
                        <caption>
                            <img src="https://e3ba6e8732e83984.cdn.gocache.net/uploads/image/file/1356860/regular_785896d95be9eef88132b387390ed8ce.png"  class="img-rounded" alt="@ViewBag.Title" width="50" />
                        </caption>
                        <thead class="table-dark text-uppercase">
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Proprietario</th>
                                <th>Nome Completo</th>
                                <th>URL</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td> <img src="@item.Owner.AvatarUrl" class="img-rounded" alt="@item.FullName" width="36" />  </td>
                                        <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Owner.Login) </td>
                                        <td> @Html.DisplayFor(modelItem => item.FullName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Url)  </td>
                                        <td>
                                            @using (Html.BeginForm("Details", "Home", new { id = item.Id }, FormMethod.Get))
                                            {
                                                <form>
                                                    <button type="submit" class="btn btn-warning bg-warning">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

